body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image:url("/public/alien.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	color: white
}

.app {
	text-align: center;
}

h1 {
	margin-top: 20px;
	font-size: 70px;
	text-align: center;
	color:rgba(228, 93, 69, 0.822);
	font-family: 'Caveat', cursive;
}

button{
	margin-left: 20px;
	border-radius: 10px;
	padding: 7px 15px;
	cursor: pointer;
	border: none;
	background-color: rgba(122, 122, 243, 0.822);
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;

}

a{
	color: azure;
}

button:hover, a:active {
	color: #131212; 
	background-color: rgb(187, 234, 248);
  }

.erro{
	  color: rgb(63, 189, 228);
}
.formLogin{
	text-align: center;
	margin-top: 5%;
	font-size: 17px;
	color: rgb(22, 216, 22);
	text-shadow: 2px 2px 4px #000000;
}

label{
	margin-left: 20px;
	margin-right: 5px;
	font-family: 'Press Start 2P', cursive;
}

input{
	background-color: rgba(245, 60, 40, 0.733);
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}

ul{
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}