body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image:url("/public/alien.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	color: white
}

.app {
	text-align: center;
}

h1 {
	margin-top: 20px;
	font-size: 70px;
	text-align: center;
	color:rgba(228, 93, 69, 0.822);
	font-family: 'Caveat', cursive;
	margin-bottom: 40px;
}

h2{
	margin-top: 20px;
	font-size: 25px;
	color:rgba(228, 93, 69, 0.822);
	font-family: 'Press Start 2P', cursive;
	margin-bottom: 40px;
	margin-right: 15%;
	margin-left: 15%;
}

h3{
	color:white;
	text-shadow: 2px 2px 4px #000000;
	font-family:'Press Start 2P', cursive;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
	

}

p{
	text-shadow: 2px 2px 4px #000000;
	color: rgba(245, 60, 40, 0.733);
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
}

button{
	margin-left: 20px;
	border-radius: 10px;
	padding: 7px 15px;
	cursor: pointer;
	border: none;
	background-color: rgba(122, 122, 243, 0.822);
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
	text-align: center;	
	text-decoration: none;
}

Link, .noLine{
	text-decoration: none;
}

a{
	color: azure;
}

button:hover, a:hover {
	color: #131212; 
	background-color: rgb(187, 234, 248);
	text-decoration: none;
  }

.erro{
	  color: rgb(63, 189, 228);
}
.formLogin{
	text-align: center;
	margin-top: 5%;
	font-size: 17px;
	color: rgb(22, 216, 22);
	text-shadow: 2px 2px 4px #000000;
}

label{
	margin-left: 20px;
	margin-right: 5px;
	font-family: 'Press Start 2P', cursive;
}

input{
	background-color: rgba(245, 60, 40, 0.733);
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}

ul{
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	margin-bottom: 5%;
}

span{
	font-size: 15px;
	font-family: 'Press Start 2P', cursive;
	color: rgb(22, 216, 22);
	text-shadow: 2px 2px 4px #000000;
}

.pedidoCabecalho{
	margin-bottom: 20px;
	margin-top: 40px;
	margin-left: 15%;
	margin-right: 15%;

}

.pizza{
	margin-bottom: 20px;
	margin-top: 40px;
	margin-right: 15%;
	margin-left: 15%;
}

.botaoPedido{
	margin-left:15%;
	text-decoration: none;
	}

.linkNav{
	text-decoration: none;
	padding: 0px 10vw 0px 10vw;
	display: inline;
}

.formPedido{
	margin: 0 auto;
	padding: 30px;
	margin-left: 3%;
}

.formPedido input{
	height: 30px;
	width: 30%;
	margin: 0 5vw 0 5vw;
}

.carrinhoTitulo{
	padding-left: 10%;
}

.pedidosTitulo {
	display: flex;
	align-items: center;
	
}

.pedidosTitulo h2{
	width: 1vw;
}

.pedidosTitulo button{
	margin-bottom: 3vh;
}

.carrinhoLista{
	border: white;
	border-radius: 5px;
	border-style: solid;
	margin: 0 40% 1% 10%;
}